altair
anyio
attrs
certifi
charset-normalizer
click
exceptiongroup
greenlet
h11
httptools
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mysql-connector-python
narwhals
numpy
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
python-dateutil
python-dotenv
python-multipart
pytz
referencing
requests
rpds-py
six
SQLAlchemy
starlette
streamlit
toml
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
prophet
